################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Build results
bin/
obj/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo
