################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Build results
bin/
obj/

# Visual Studio
.vs/

# User-specific files
*.user
*.suo
/ClientDesktop.Main/obj/Debug/net8.0-windows/ClientDesktop.Main.designer.deps.json
/ClientDesktop.Main/bin/Debug/net8.0-windows/ClientDesktop.Main.deps.json
/ClientDesktop.Main/obj/Debug/net8.0-windows/MainWindow.baml
/ClientDesktop.Core/bin/Debug/net8.0/ClientDesktop.Core.deps.json
/ClientDesktop.Core/bin/Debug/net8.0/ClientDesktop.Core.dll
/ClientDesktop.Core/bin/Debug/net8.0/ClientDesktop.Core.pdb
/ClientDesktop.Core/obj/Debug/net8.0/ref/ClientDesktop.Core.dll
/ClientDesktop.Core/obj/Debug/net8.0/ClientDesktop.Core.csproj.CoreCompileInputs.cache
/ClientDesktop.Core/obj/Debug/net8.0/ClientDesktop.Core.csproj.FileListAbsolute.txt
/ClientDesktop.Infrastructure/obj/Debug/net8.0/ClientDesktop.Infrastructure.csproj.CoreCompileInputs.cache
/ClientDesktop.Infrastructure/obj/Debug/net8.0/ClientDesktop.Infrastructure.csproj.FileListAbsolute.txt
/ClientDesktop.ViewModel/bin/Debug/net8.0/ClientDesktop.ViewModel.deps.json
/ClientDesktop.ViewModel/bin/Debug/net8.0/ClientDesktop.ViewModel.dll
/ClientDesktop.ViewModel/bin/Debug/net8.0/ClientDesktop.ViewModel.pdb
/ClientDesktop.ViewModel/obj/Debug/net8.0/ref/ClientDesktop.ViewModel.dll
/ClientDesktop.ViewModel/obj/Debug/net8.0/refint/ClientDesktop.ViewModel.dll
/ClientDesktop.ViewModel/obj/Debug/net8.0/ClientDesktop.ViewModel.csproj.CoreCompileInputs.cache
/ClientDesktop.ViewModel/obj/Debug/net8.0/ClientDesktop.ViewModel.csproj.FileListAbsolute.txt
/ClientDesktop.ViewModel/obj/Debug/net8.0/ClientDesktop.ViewModel.dll
/ClientDesktop.ViewModel/obj/Debug/net8.0/ClientDesktop.ViewModel.pdb
/ClientDesktop.View/bin/Debug/net8.0-windows/ClientDesktop.View.deps.json
/ClientDesktop.View/bin/Debug/net8.0-windows/ClientDesktop.View.dll
/ClientDesktop.View/bin/Debug/net8.0-windows/ClientDesktop.View.pdb
/ClientDesktop.View/obj/Debug/net8.0-windows/ref/ClientDesktop.View.dll
/ClientDesktop.View/obj/Debug/net8.0-windows/ClientDesktop.View.csproj.CoreCompileInputs.cache
/ClientDesktop.View/obj/Debug/net8.0-windows/ClientDesktop.View.csproj.FileListAbsolute.txt
/ClientDesktop.View/obj/Debug/net8.0-windows/ClientDesktop.View.dll
/ClientDesktop.View/obj/Debug/net8.0-windows/ClientDesktop.View.pdb
/ClientDesktop.View/obj/Debug/net8.0-windows/refint/ClientDesktop.View.dll
/ClientDesktop.UserControl/bin/Debug/net8.0-windows/ClientDesktop.UserControl.dll
/ClientDesktop.UserControl/bin/Debug/net8.0-windows/ClientDesktop.UserControl.pdb
/ClientDesktop.UserControl/obj/Debug/net8.0-windows/ref/ClientDesktop.UserControl.dll
/ClientDesktop.Infrastructure/bin/Debug/net8.0/ClientDesktop.Infrastructure.deps.json
/ClientDesktop.Infrastructure/bin/Debug/net8.0/ClientDesktop.Infrastructure.dll
/ClientDesktop.Infrastructure/bin/Debug/net8.0/ClientDesktop.Infrastructure.pdb
/ClientDesktop.Infrastructure/obj/Debug/net8.0/ref/ClientDesktop.Infrastructure.dll
/ClientDesktop.Infrastructure/obj/Debug/net8.0/refint/ClientDesktop.Infrastructure.dll
/ClientDesktop.Main/obj/ClientDesktop.Main.csproj.nuget.g.targets
/ClientDesktop.View/obj/ClientDesktop.View.csproj.nuget.g.targets
/ClientDesktop.ViewModel/obj/ClientDesktop.ViewModel.csproj.nuget.g.targets
/.vs/ProjectSettings.json
/.vs/slnx.sqlite
/ClientDesktop.Main/obj/Debug/net8.0-windows/Login/LoginWindow.g.i.cs
/ClientDesktop.Main/obj/Debug/net8.0-windows/LoginForm/LoginWindow.g.i.cs
/ClientDesktop.Main/obj/Debug/net8.0-windows/ClientDesktop.Main_0eiwwn3j_wpftmp.AssemblyInfo.cs
/ClientDesktop.Main/obj/Debug/net8.0-windows/ClientDesktop.Main_0eiwwn3j_wpftmp.AssemblyInfoInputs.cache
/ClientDesktop.Main/obj/Debug/net8.0-windows/ClientDesktop.Main_0eiwwn3j_wpftmp.assets.cache
/ClientDesktop.Main/obj/Release/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ClientDesktop.Main/obj/Release/net8.0-windows/Login/LoginPage.baml
/ClientDesktop.Main/obj/Release/net8.0-windows/Login/LoginPage.g.cs
/ClientDesktop.Main/obj/ClientDesktop.Main_ds53ok30_wpftmp.csproj.nuget.dgspec.json
/ClientDesktop.Main/obj/ClientDesktop.Main_ds53ok30_wpftmp.csproj.nuget.g.props
/ClientDesktop.Main/obj/ClientDesktop.Main_ds53ok30_wpftmp.csproj.nuget.g.targets
/ClientDesktop.Main/obj/ClientDesktop.Main_e4eov2sz_wpftmp.csproj.nuget.dgspec.json
/ClientDesktop.Main/obj/ClientDesktop.Main_e4eov2sz_wpftmp.csproj.nuget.g.props
/ClientDesktop.Main/obj/ClientDesktop.Main_e4eov2sz_wpftmp.csproj.nuget.g.targets
/ClientDesktop.Main/obj/ClientDesktop.Main_ir0r4h4r_wpftmp.csproj.nuget.dgspec.json
/ClientDesktop.Main/obj/ClientDesktop.Main_ir0r4h4r_wpftmp.csproj.nuget.g.props
/ClientDesktop.Main/obj/ClientDesktop.Main_ir0r4h4r_wpftmp.csproj.nuget.g.targets
/ClientDesktop.Main/obj/ClientDesktop.Main_jkrfou2w_wpftmp.csproj.nuget.dgspec.json
/ClientDesktop.Main/obj/ClientDesktop.Main_jkrfou2w_wpftmp.csproj.nuget.g.props
/ClientDesktop.Main/obj/ClientDesktop.Main_jkrfou2w_wpftmp.csproj.nuget.g.targets
/ClientDesktop.Main/obj/ClientDesktop.Main_jqvf3qjr_wpftmp.csproj.nuget.dgspec.json
/ClientDesktop.Main/obj/ClientDesktop.Main_jqvf3qjr_wpftmp.csproj.nuget.g.props
/ClientDesktop.Main/obj/ClientDesktop.Main_jqvf3qjr_wpftmp.csproj.nuget.g.targets
/ClientDesktop.Main/obj/ClientDesktop.Main_penlmahg_wpftmp.csproj.nuget.dgspec.json
/ClientDesktop.Main/obj/ClientDesktop.Main_penlmahg_wpftmp.csproj.nuget.g.props
/ClientDesktop.Main/obj/ClientDesktop.Main_penlmahg_wpftmp.csproj.nuget.g.targets
/ClientDesktop.Main/obj/ClientDesktop.Main_qfbv05ze_wpftmp.csproj.nuget.dgspec.json
/ClientDesktop.Main/obj/ClientDesktop.Main_qfbv05ze_wpftmp.csproj.nuget.g.props
/ClientDesktop.Main/obj/ClientDesktop.Main_qfbv05ze_wpftmp.csproj.nuget.g.targets
/ClientDesktop.Main/obj/ClientDesktop.Main_z44vcw4z_wpftmp.csproj.nuget.dgspec.json
/ClientDesktop.Main/obj/ClientDesktop.Main_z44vcw4z_wpftmp.csproj.nuget.g.props
/ClientDesktop.Main/obj/ClientDesktop.Main_z44vcw4z_wpftmp.csproj.nuget.g.targets
/ClientDesktop.Main/obj/Release/net8.0-windows/App.g.cs
/ClientDesktop.Main/obj/Release/net8.0-windows/ClientDesktop.Main.AssemblyInfo.cs
/ClientDesktop.Main/obj/Release/net8.0-windows/ClientDesktop.Main.AssemblyInfoInputs.cache
/ClientDesktop.Main/obj/Release/net8.0-windows/ClientDesktop.Main.assets.cache
/ClientDesktop.Main/obj/Release/net8.0-windows/ClientDesktop.Main.GeneratedMSBuildEditorConfig.editorconfig
/ClientDesktop.Main/obj/Release/net8.0-windows/ClientDesktop.Main.GlobalUsings.g.cs
/ClientDesktop.Main/obj/Release/net8.0-windows/ClientDesktop.Main_MarkupCompile.cache
/ClientDesktop.Main/obj/Release/net8.0-windows/ClientDesktop.Main_MarkupCompile.lref
/ClientDesktop.Main/obj/Release/net8.0-windows/MainWindow.g.cs
/ClientDesktop.UserControl/obj/Release/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ClientDesktop.UserControl/obj/Release/net8.0-windows/ClientDesktop.UserControl.AssemblyInfo.cs
/ClientDesktop.UserControl/obj/Release/net8.0-windows/ClientDesktop.UserControl.AssemblyInfoInputs.cache
/ClientDesktop.UserControl/obj/Release/net8.0-windows/ClientDesktop.UserControl.assets.cache
/ClientDesktop.UserControl/obj/Release/net8.0-windows/ClientDesktop.UserControl.GeneratedMSBuildEditorConfig.editorconfig
/ClientDesktop.UserControl/obj/Release/net8.0-windows/ClientDesktop.UserControl.GlobalUsings.g.cs
/ClientDesktop.View/obj/Release/net8.0-windows/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ClientDesktop.View/obj/Release/net8.0-windows/ClientDesktop.View.AssemblyInfo.cs
/ClientDesktop.View/obj/Release/net8.0-windows/ClientDesktop.View.AssemblyInfoInputs.cache
/ClientDesktop.View/obj/Release/net8.0-windows/ClientDesktop.View.assets.cache
/ClientDesktop.View/obj/Release/net8.0-windows/ClientDesktop.View.GeneratedMSBuildEditorConfig.editorconfig
/ClientDesktop.View/obj/Release/net8.0-windows/ClientDesktop.View.GlobalUsings.g.cs
/ClientDesktop.ViewModel/obj/Release/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ClientDesktop.ViewModel/obj/Release/net8.0/ClientDesktop.ViewModel.AssemblyInfo.cs
/ClientDesktop.ViewModel/obj/Release/net8.0/ClientDesktop.ViewModel.AssemblyInfoInputs.cache
/ClientDesktop.ViewModel/obj/Release/net8.0/ClientDesktop.ViewModel.assets.cache
/ClientDesktop.ViewModel/obj/Release/net8.0/ClientDesktop.ViewModel.GeneratedMSBuildEditorConfig.editorconfig
/ClientDesktop.ViewModel/obj/Release/net8.0/ClientDesktop.ViewModel.GlobalUsings.g.cs
